* {
    font-family: 'Montserrat', sans-serif;
}

.Login_body {
    background: rgb(252, 251, 251);
}

.Login_cont {
    height: 100vh;
}


.Login_company_name {
    font-family: 'Times New Roman', Times, serif;
    margin-top: -30px;
}

.Login_Dept h5 {
    color: #006600;
    margin-top: -10px !important;
}


.Login_card h5 {
    font-size: 28px;
    justify-content: center;
    display: flex;
    font-weight: bold;
}

.Login_form,
.Login_forgot_password h6 {
    text-transform: uppercase;
    font-size: 10px;

}

.Login_form input:focus,
.Login_form select:focus {
    border: 1px solid #000000;
    box-shadow: none;
}


.Login_submit_btn button:hover,
.Login_submit_btn button:focus {
    background: #006600;
}

.Login_submit_btn button:focus {
    box-shadow: none;
}

.reactNotif {
    transform: translate(-510px, -65px) !important;
    /* width: 10vh; */
    /* position: absolute !important; */
}

.toast {
    width: 600px !important;
}