.QMR {
    /* background: #2e5806; */
    background: #006600;
    /* overflow: scroll;
    height: 83.7vh; */
}

.QMR_title h5 {
    font-family: 'Times New Roman', Times, serif;
}

.QMR hr {
    color: antiquewhite !important;
}

.QMR_input_info span,
.QMR_input_info label {
    text-transform: uppercase;
    background: #2e5806;
    color: #fff;
    font-size: 12px;
}

.QMR_input_info input:focus,
.QMR_input_info select:focus {
    box-shadow: none;
}

.QMR_legend {
    height: 50px;
    border: 2mm ridge #f4ee0f;
    background: #2e5806;
}

.QMR_legend h6 {
    text-transform: uppercase;
    color: #fff;
    font-size: 12px;
    margin-top: 2px;
    margin: 0 20px 0 0;
}

.QMR_legend_criteria label {
    font-size: 16px;
}

.QMR_paper_criteria_title h6 {
    text-transform: uppercase;
    font-weight: bold;
}

.quality_quantity_cont {
    border-bottom: 2px solid #fff;
}

.quality_quantity_accept:focus {
    border: none;
}

.quality_quantity_reject:focus {
    border: none;
}

.CAR_classification_title h6 {
    text-transform: uppercase;
    font-weight: 700;
}

.CAR_classification_list {
    padding: 0 24px;
}

.CAR_workflow_plan {
    height: 250px;
    border: 1px solid #fff;
}

.CAR_workflow_plan img {
    height: 200px;
    width: 90%;
}

.CAR_related_issues {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.CAR_problem_analysis {
    height: 300px;
    border: 1px solid #f4ee0f;
}

.CAR_created_by span {
    text-transform: uppercase;
    background: transparent;
    border: none;
    color: #fff;
    font-size: 12px;
}

.CAR_final_recommendation {
    height: 300px;
    border: 1px solid #f4ee0f;
}

.CAR_final_recommendation hr {
    border: 1px solid #fff;
}

.CAR_approval {
    flex-direction: column;
    justify-content: end;
}