.Position {
    height: 86vh;
}

.Position_content {
    height: 86vh;
    background: #d8d8d8;
}

.Position_designation:nth-child(4) {
    background: #006600;
}

.Position_designation:nth-child(4) h6 {
    color: #fff;
}