/* .FormsContent {
    background: #d8d8d8;
}

.FormsContent_sheet {
    height: 83.5vh;
    background: #2e5806;
    background: #006600;
} */

/* .FormsContent_sheet_title h5 {
    font-family: 'Times New Roman', Times, serif;
}

.FormsContent hr {
    color: antiquewhite !important;
}

.FormsContent_sheet_input span,
.FormsContent_sheet_input label {
    text-transform: uppercase;
    background: #2e5806;
    color: #fff;
    font-size: 12px;
}

.FormsContent_sheet_input input:focus,
.FormsContent_sheet_input select:focus {
    box-shadow: none;
}

.FormsContent_sheet_legend {
    height: 50px;
    border: 2mm ridge #f4ee0f;
    background: #2e5806;
}

.FormsContent_sheet_legend h6 {
    text-transform: uppercase;
    color: #fff;
    font-size: 12px;
}

.FormsContent_sheet_criteria label {
    font-size: 12px;
} */