.QMR {
    /* background: #2e5806; */
    background: #006600;
    /* overflow: scroll;
    height: 83.7vh; */
}

.QMR_title h5 {
    font-family: 'Times New Roman', Times, serif;
}

.QMR hr {
    color: antiquewhite !important;
}