.LandingHeader {
    height: 50px;
    background: #006600;
    font-family: 'Montserrat', sans-serif;
}

.LandingHeader_col_1 h6 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}

.LandingHeader_profile {
    margin-top: -23px;
}

.LandingHeader_settings_dropdown {
    color: rgb(173, 170, 170) !important;
}

.LandingHeader_settings_dropdown:hover {
    color: #fff !important;
}

.LandingHeader_settings ul {
    margin-top: 10px !important;
    margin-left: 30px !important;
    background: #2e5806;
}

.LandingHeader_prof_details h6 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
}


.LandingHeader_settings li a {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}

.LandingHeader_settings li a:hover {
    color: #0f15f4 !important;
    background: #f4ee0f;
    transition: .3s;
}